<!--HTML del Componente Tarjeta de Crédito-->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body">
                    <h3 class="titulo">TARJETA CRÉDITO</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-6">
            <!--Llamamos al Componente Agregar Tarjeta-->
            <app-agregar-tarjeta></app-agregar-tarjeta>
        </div>
        <div class="col-lg-6">
            <!--Llamamos al Componente Listar Tarjeta-->
            <app-listar-tarjeta></app-listar-tarjeta>
        </div>
    </div>
</div>